.git
.github
.next
**/.next
node_modules
**/node_modules
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.venv
**/.venv
*.pyc
**/*.pyc
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
data
.env.compose